header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.logo{
    display:flex;
    color: black;
    width: 60px;
    height: 60px;
}
#banner{
    position: relative;
    left: -10px;
}
#menuBar{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #708fff;
    top:-5px;
    width: 110%;
    left: -8px;
}
#container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 500px;
    height: 25px;
    position: relative;
    left: -30px;
}
.platform{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    border-style: solid;
    border-width: .5px;
    width:250px;
    height: 75px;
    border-color: lightgray;
    border-radius: 5px;
}

#containPlatforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

button{
    border: none;
    background-color: transparent;
}
#stayInformed{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    height: 25vh;
}
#email_list{
    border: solid lightgray .5px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    text-align: center;
}
#social{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 200px;

}
footer{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px;
}